<a href="https://colab.research.google.com/github/aanacaa/imersao-alura/blob/master/Gerar_amostra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Script para gerar a amostra
Disponibilizado no treinamento da Alura (adaptado)

In [1]:
import pandas as pd
import numpy as np
import random


%precision %.2f
pd.options.display.float_format = '{:,.2f}'.format

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [6]:
ano = "2019"
fonte = f"/content/drive/My Drive/Colab Notebooks/Imersao-Alura/MICRODADOS_ENEM_{ano}.csv"

seed = 43278
np.random.seed(seed)

num_linhas = sum(1 for l in open(fonte,encoding="ISO-8859-1"))

p = 0.025
tamanho = int(num_linhas * p)

index = random.sample(range(1, num_linhas), num_linhas - tamanho)

dados = pd.read_csv(fonte, 
                    encoding="ISO-8859-1",
                    delimiter=";",
                    skiprows=index)
dados.shape

(127380, 136)

In [7]:
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001004630    2019                  1507706  ...    A     A    A
1  190001004667    2019                  1501402  ...    A     B    B
2  190001004774    2019                  1502905  ...    A     A    A
3  190001004836    2019                  1501402  ...    A     A    A
4  190001004837    2019                  1501402  ...    A     B    B

[5 rows x 136 columns]

In [8]:
dados.tail()

        NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
127375  190006119891    2019                  2210706  ...    A     A    B
127376  190006119997    2019                  2927408  ...    B     A    B
127377  190006120087    2019                  3117207  ...    A     B    A
127378  190006120136    2019                  3170404  ...    A     B    B
127379  190006129591    2019                  2931806  ...    A     A    B

[5 rows x 136 columns]

In [9]:
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [10]:
colunas_de_notas = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO']
dados[colunas_de_notas].describe()

       NU_NOTA_CN  NU_NOTA_CH  ...  NU_NOTA_COMP5  NU_NOTA_REDACAO
count   92,884.00   98,179.00  ...      98,179.00        98,179.00
mean       477.98      507.31  ...          91.38           571.14
std         75.96       82.40  ...          59.33           187.71
min          0.00        0.00  ...           0.00             0.00
25%        418.40      448.00  ...          40.00           480.00
50%        470.50      510.90  ...         100.00           580.00
75%        533.00      566.90  ...         140.00           680.00
max        811.10      790.60  ...         200.00           980.00

[8 rows x 10 columns]

In [11]:
destino = f"/content/drive/My Drive/Colab Notebooks/Imersao-Alura/MICRODADOS_ENEM_{ano}_SAMPLE_{seed}.csv"

dados.to_csv(destino, index=False)